<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GitChecker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <GitChecker.My.MySettings>
            <setting name="GitLocation" serializeAs="String">
                <value>C:\Program Files\Git\cmd\git.exe</value>
            </setting>
            <setting name="ExternalToolPath" serializeAs="String">
                <value>%UserProfile%\AppData\Local\GitHubDesktop\bin\GitHub.bat</value>
            </setting>
            <setting name="ExternalToolArguments" serializeAs="String">
                <value>{path}</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPinned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteRefreshInterval" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="FilterOnlyChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParentDirectories" serializeAs="String">
                <value/>
            </setting>
        </GitChecker.My.MySettings>
    </userSettings>
</configuration>
